main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

main .container{
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: calc(100vh - 69px);
  height: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 2px rgb(0 0 0 / 22%);
}

main .container .content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  background-color: var(--card-color);
  box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

main .container .content .infos-perfil{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin-left: 40px;
}

main .container .content .infos-perfil .nome{
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

main .container .content .infos-perfil .post{
  display: flex;
  width: 8%;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
}

main .container .content .infos-perfil .post span{
  margin-left: 30px;
}

.wrap-input100 {
  position: relative;
  width: 60%;
  z-index: 1;
  margin-bottom: 16px;
  margin: auto;
  margin-top: 30px;
}

.input100 {
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  border: none;
  display: block;
  width: 100%;
  background: var(--text-color);
  border: 1px solid var(--destaque-color);
  height: 50px;
  padding: 0 30px 0 5px;
}

.container-login100-form-btn {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.login100-form-btn {
  font-size: 15px;
  font-weight: 900;
  color: var(--text-color);
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: var(--card-color);
  box-shadow: 0 0 2px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  cursor: pointer;
}

.textarea{
  width: 100%;
  border: 1px solid var(--destaque-color);
  background-color: var(--text-color);
  border-radius: 5px;
}

.login100-form-btn:hover {
  background: var(--destaque-color);
  color: #333333;
}