main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

main .container{
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: 0 0 2px rgb(0 0 0 / 22%);
}

main .container .content{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: auto;
}

main .container .content .col-1{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

main .container .content .col-2{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

main .container .content .col-1 .col-img{
    display: inline-block;
    position: relative;
    margin-top: 25px;
}

main .container .content .col-1 .col-img img{
    width: 90%;
    height: 100%;
    box-shadow: 0 0 2px rgb(0 0 0 / 22%);
    border-radius: 4px;
    opacity: 0.5;
}

main .container .content .col-1 .col-img .img-text{
    width: 70%;
    position: absolute;
    bottom: 25px;
    left: 35px;
    font-size: 22px;
    font-weight: 700;
}

main .container .content .col-1 .col-posts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin-top: 4%;
}

main .container .content .col-1 .col-posts .posts-titles{
    width: 80%;
    height: 6vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

main .container .content .col-1 .col-posts .posts-titles a{
    text-decoration: none;
    color: var(--destaque-color);
}

main .container .content .col-1 .col-posts .posts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .container .content .col-1 .col-posts .posts .card-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 15px;
    background-color: var(--card-color);
    color: var(--text-color);
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.posts .card-post .title-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid var(--destaque-color);
}

.posts .card-post .title-card .title{
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

.posts .card-post .title-card p{
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
}

.posts .card-post .title-card p .people{
    color: var(--destaque-color);
    cursor: pointer;
}

.posts .card-post .describe-card{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
}

.col-2 .matches-titles{
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    font-size: 12px;
    color: var(--destaque-color);
}

.col-2 .matches-upcoming{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.col-2 .matches-upcoming .cards-matches{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
    border-bottom: 1px solid var(--destaque-color);
}

.col-2 .matches-upcoming .cards-matches .matches-times{
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.col-2 .matches-upcoming .cards-matches .matches-tempo{
    display: flex;
    color: #76BC87;
    height: 70px;
    width: 25%;
    justify-content: center;
    align-items: center;
    border-right: 3.5px solid #28af98;
    padding-right: 8px;
}
